<div class="col-md-12 upper-gap" ng-controller="InteractiveCtrl as actrl">
    <div class="row">
        <button ng-click="actrl.getPack()" type="button" class="btn btn-primary">get pack</button>
    </div>
    {{mtds.length}}
    <div class="row">
        <table class="col-md-12 table table-striped upper-gap">
            <tr>
                <th> className</th>
                <th> methodName</th>
                <th> time</th>
                <th> thName</th>
                <th> isStart</th>
            </tr>
            <tr ng-repeat="item in actrl.mtds">
                <td>
                    {{item.className}}
                </td>
                <td>
                    {{item.methodName}}
                </td>
                <td>
                    {{item.time}}
                </td>
                <td>
                    {{item.thName}}
                </td>
                <td>
                    {{item.start}}
                </td>
            </tr>
        </table>
    </div>
</div>