<div class="col-md-12 upper-gap" ng-controller="InteractiveCtrl as actrl">
    <div class="row">
        <button ng-click="actrl.getPack()" type="button" class="btn btn-primary" ng-disabled="zoommode">get single pack</button>

        <button ng-click="actrl.startTimer()" type="button" class="btn btn-primary"  ng-disabled="zoommode">startTimer</button>
        <button ng-click="actrl.stopTimer()" type="button" class="btn btn-primary"  ng-disabled="zoommode">stopTimer</button>

        <label class="col-md-offset-1">Zoom mode:
            <input type="checkbox" ng-model="zoommode" ng-change="actrl.modeChanged()">
        </label>
        <button ng-click="actrl.zoomBack()" type="button" class="btn btn-primary" ng-disabled="!zoommode">zoomBack</button>
    </div>

    <div class="row">
        <div class="col-md-12" style="height: 1000px">
            <canvas drawing mtds="mtds" zoommode="zoommode" style="position: absolute; left: 0; top: 0; z-index: 0;">
            </canvas>
            <canvas id="zoomlayer" style="position: absolute; left: 0; top: 0; z-index: 1;">
            </canvas>
        </div>
        <div class="col-md-12">
            <table class="col-md-12 table table-striped upper-gap">
                <tr>
                    <th> className</th>
                    <th> methodName</th>
                    <th> time</th>
                    <th> thName</th>
                    <th> isStart</th>
                </tr>
                <tr ng-repeat="item in actrl.mtds">
                    <td>
                        {{item.className}}
                    </td>
                    <td>
                        {{item.methodName}}
                    </td>
                    <td>
                        {{item.time}}
                    </td>
                    <td>
                        {{item.thName}}
                    </td>
                    <td>
                        {{item.start}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>